<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>
        Site Name - {% block title %} {% endblock %}
    </title>
    <!-- Stylesheets -->
    <link href=" {{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href=" {{ asset('plugins/revolution/css/settings.css') }}" rel="stylesheet" type="text/css">
    <!-- REVOLUTION SETTINGS STYLES -->
    <link href="{{ asset('plugins/revolution/css/layers.css') }}" rel="stylesheet" type="text/css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link href="{{ asset ('plugins/revolution/css/navigation.css') }}" rel="stylesheet" type="text/css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="{{ asset('css/color-themes/default-theme.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Favicon-->
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
    <link href="{{ asset('css/lightbox.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/respond.js') }}"></script><![endif]-->
    {% block styles %}
    {% endblock %}
</head>

<body>
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    {% block header %}
        <!-- Main Header-->
        <header class="main-header">
            <!--Header Top-->
            <div class="header-top">
                <div class="auto-container">
                    <div class="clearfix">
                        <div class="top-left">
                            <ul class="clearfix">
                                <li>Site prezentare firma</li>
                            </ul>
                        </div>
                        <div class="top-right clearfix">
                            <ul class="clearfix">
                                <li class="dropdown">
                                    <a class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="true" href="#">
                                        <img src="{{ asset('images/languageFlag/' ~ls.getCurrentLanguage().flag) }}"
                                             style="width: 20px; height: 20px"/>
                                    </a>
                                    <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu1">
                                        {% for language in ls.languages %}
                                            {% if language.flag %}
                                                <li>
                                                {% if language.name %}
                                                    <a href="{{ path('language',{'name': language.name }) }}">
                                                        <img src="{{ asset('images/languageFlag/' ~language.flag) }}"
                                                             style="width: 20px; height: 20px"/>
                                                        {{ language.name | capitalize }}
                                                    </a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Header-Upper-->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <div class="pull-left logo-outer">
                            <div class="logo"><a href="{{ path('index') }}"><img
                                            src="{{ asset('images/logo.png') }}"
                                            alt="" title=""></a></div>
                        </div>
                        <div class="pull-right upper-right clearfix">
                            {% for slotItem in slot_service.getSlotItem('SlotHeader') %}
                                <!--Info Box-->
                                {% if slotItem.language.name== app.session.get('_locale','Ro') %}
                                    {{ slotItem.description| raw }}
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Upper-->

            <!--Header Lower-->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    {% for menuItem in menu_service.getRootMenuItems('MainMenu') %}
                                        {% set hasSubmenu = menuItem.getChildren()|length > 0 %}
                                        <li class="  {{ hasSubmenu ? "dropdown":"" }}">
                                            <a href="{{ menuItem.url }}">
                                                {% for menuItemLanguage in menuItem.menuItemLanguages %}
                                                    {#dump(app.session.get('_locale','Ro'))#}
                                                    {% if menuItemLanguage.language.name== app.session.get('_locale','Ro') %}
                                                        {{ menuItemLanguage.name }}
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                            {% if (hasSubmenu) %}
                                                <ul>
                                                    {% for child in menuItem.getChildren() %}
                                                        <li>
                                                            <a href="{{ child.url }}">

                                                                {% for menuItemLanguage in child.menuItemLanguages %}
                                                                    {#dump(app.session.get('_locale','Ro'))#}
                                                                    {% if menuItemLanguage.language.name== app.session.get('_locale','Ro') %}
                                                                        {{ menuItemLanguage.name }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                    </div>
                </div>
            </div>
            <!--End Header Lower-->
        </header>
        <!--End Main Header -->
    {% endblock %}

    {% block container %}
    {% endblock %}

    {% block footer %}
        <!--Main Footer-->
        <footer class="main-footer">
            <!--Widgets Section-->
            <div class="auto-container">

                <div class="widgets-section">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                            <!--About Widget-->
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="{{ path('index') }}"><img
                                                src="{{ asset('images/footer-logo.png') }}" alt=""/></a>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                            <!--About Widget-->
                            <div class="footer-widget links-widget">
                                <h2>F O O T E R</h2>
                                <div class="row clearfix">
                                    <ul class="link-list col-md-6 col-sm-6 col-xs-12">
                                        {% for menuItem in menu_service.getRootMenuItems('FooterMenu') %}
                                            <li><a href="{{ menuItem.url }}">
                                                    {% for menuItemLanguage in menuItem.menuItemLanguages %}
                                                        {#dump(app.session.get('_locale','Ro'))#}
                                                        {% if menuItemLanguage.language.name== app.session.get('_locale','Ro') %}
                                                            {{ menuItemLanguage.name }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Info Section-->
            <div class="footer-info-section">
                <div class="row clearfix">

                    {% for slotItem in slot_service.getSlotItem('SlotFooter') %}
                        <!--Info Box-->
                        {% if slotItem.language.name== app.session.get('_locale','Ro') %}
                            {{ slotItem.description| raw }}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="column col-md-6 col-sm-12 col-xs-12">
                            <div class="copyright">Copyrights &copy; 2017 All Rights Reserved. Powered by <a
                                        href="#">Triumph.</a>
                            </div>
                        </div>
                        <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                            <ul class="footer-nav">
                                <li><a href="#">Legal</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!--End Footer Bottom-->
            </div>
        </footer>

        <!--End pagewrapper-->
    {% endblock %}

    {% block scroll %}
        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-arrow-up"></span></div>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!--Revolution Slider-->
        <script src="{{ asset('plugins/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.carousel.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.migration.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/js/extensions/revolution.extension.video.min.js') }}"></script>
        <script src="{{ asset('js/main-slider-script.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('js/jquery.fancybox-media.js') }}"></script>
        <script src="{{ asset('js/owl.js') }}"></script>
        <script src="{{ asset('js/appear.js') }}"></script>
        <script src="{{ asset('js/wow.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.js') }}"></script>
        <script src="{{ asset('js/mixitup.js') }}"></script>
        <script src="{{ asset('js/isotope.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/lightbox.js') }}"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

    {% endblock %}

</div>
</body>
</html>
