{% extends 'base.html.twig' %}

{% block container %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/3.jpg);">
        <div class="auto-container">
            <h1>Contact Us</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container clearfix">
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Share</a></div>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->

    <!--Contact Section-->
    <section class="contact-section">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title centered">
                <h2>Get Touch With Us</h2>
                <div class="separator"></div>
                <div class="text">Don’t hestiate to ask us something, Our customer support team always ready to help you, <br> they will support you 24/7.</div>
            </div>
            <div class="row clearfix">
                <!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <ul class="contact-info-list">
                            <li><span class="icon flaticon-maps-and-flags"></span><strong>Address:</strong> 321, Breaking Street, 2nd cros st, Newyork ,USA 10002</li>
                            <li><span class="icon flaticon-technology-2"></span><strong>Call Us:</strong><br> +321 4567 89 012 & 79 023</li>
                            <li><span class="icon flaticon-web"></span><strong>Mail Us:</strong><br>Supportteam@Triumph.com</li>
                            <li><span class="icon flaticon-big-circular-clock"></span><strong>Opening Time:</strong><br> Mon - Sat: 09.00am to 18.00pm</li>
                        </ul>
                        <ul class="social-icon-three">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-skype"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                    <div class="contact-form">
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    {{form_start(form)}}
                                    {{form_widget(form)}}
                                    {{form_end(form)}}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Section-->

    <!--Map Section-->
    <section class="map-section">
        <div class="map-outer">
            <div class="gmap_canvas">
                <iframe width="1400" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=netrom%20craiova&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
                {#<a href="https://www.whatismyip-address.com">whatismyip-address.com</a>#}
            </div>
        </div>
    </section>
    <!--End Map Section-->
{% endblock %}