{% extends 'base.html.twig' %}

{% block container %}


    {% block content %}
        <!--Services Section-->
        <section class="services-section">
            <div class="auto-container">
                <!--Sec Title-->
                <div class="sec-title centered">
                    <h2>{{ contentLanguage.title }}</h2>
                    <div class="separator"></div>
                    <div class="text">
                        {{ contentLanguage.htmlContent|raw }}
                    </div>

                </div>
            </div>
        </section>
        <!--End Services Section-->

    {% endblock %}
{% endblock %}