{% extends 'base.html.twig' %}


{% block title %} Galleries {% endblock %}

 {% block container %}

     <section class="page-title" style="background-image:{{ asset('images/background/3.jpg') }};">
         <div class="auto-container">
             <h1>Galleries</h1>
         </div>
         <!--Page Info-->
         <div class="page-info">
             <div class="auto-container clearfix">
                 <div class="pull-left">
                     <ul class="bread-crumb clearfix">
                         <li><a href="index.html.twig">Home</a></li>
                         <li>Galleries</li>
                     </ul>
                 </div>
                 <div class="pull-right">
                     <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Share</a></div>
                 </div>
             </div>
         </div>
         <!--End Page Info-->
     </section>
     <!--End Page Title-->

     <!--Gallery Section-->
     <section class="gallery-section">
         <div class="auto-container">

             <!--Sortable Gallery-->
             <div class="mixitup-gallery">



                 <div class="filter-list row clearfix">

                     {% for galery in galeries %}
                     <div class="gallery-block mix all col-lg-4 col-md-4 col-sm-6 col-xs-12">
                         <div class="inner-box">
                             <figure class="image-box">

                                 <img src="{{ asset('uploads/' ~galery.getFirstImage().image) }}" style="width: 375px; height: 200px" alt="">

                                 <div class="overlay-box">
                                     <div class="overlay-inner">
                                         <div class="content">
                                             <a href="{{ url('galerySingle', {"id":galery.id}) }}" class="icon"><span class="fa fa-link"></span></a>
                                             <a href="{{ asset('uploads/' ~galery.getFirstImage().image) }}" class="icon image-link lightbox-image" data-fancybox-group="example-gallery" title=""><span class="fa fa-search"></span></a>
                                         </div>
                                     </div>
                                 </div>

                             </figure>
                             <div class="lower-box">
                                 {% for gl in galery.getGaleryLanguages() %}
                                     {% if gl.language.name == app.session.get('_locale','Ro') %}
                                 <h3><a href="{{ url('galerySingle', {"id":galery.id}) }}">{{ gl.name }}</a></h3>
                                     {% endif %}
                                {% endfor %}
                             </div>
                         </div>
                     </div>
                    {% endfor %}

                 </div>

             </div>
             <!--End Sortable Gallery-->


         </div>
     </section>
     <!--Gallery Section-->


 {% endblock %}
