{% extends 'base.html.twig' %}


{% block title %}{{ gl.title }}{% endblock %}

{% block container %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/3.jpg);">
        <div class="auto-container">

            <h1>{{ gl.title }}</h1>

        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container clearfix">
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{{ path('index') }}">Home</a></li>

                        <li>{{ gl.title }}</li>


                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Share</a></div>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->

    <!-- Project Single Section-->
    <section class="project-single-section">

        <div class="detail-section">
            <div class="row clearfix">
                <div class="column col-md-4 col-sm-12 col-sm-12">

                </div>

            </div>
        </div>
        <div class="auto-container">

            <div class="row">
                <div class="col-12">


                        <div class="big-image">
                            {% for galeryItem in galery.galeryItems %}
                           <a href="{{ asset('uploads/' ~galeryItem.image) }}" data-lightbox="samegallery">

                            <img src="{{ asset('uploads/' ~galeryItem.image) }}"
                                 style="width: 300px;height: 200px; margin:10px;" class="float-left" data-lightbox="samegallery">

                           </a>
                            {% endfor %}

                    </div>




                </div>
            </div>

        <h3 style="text-align: justify-all">{{ gl.htmlContent| raw}}</h3>



            <!--End Project New Posts-->

        </div>



    </section>

    <!--End Project Single Section-->
{% endblock %}