{% extends 'base.html.twig' %}

{% block container %}
    {% block slider %}
        <!--Main Slider-->
        <section class="main-slider">

            <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper"
                 data-source="gallery">
                <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                    <ul>
                        {% for sliderItem in sliderItems %}
                            {% set dataIndex = sliderItem.id %}
                            <li data-description="Slide Description" data-easein="default" data-easeout="default"
                                data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade"
                                data-hideafterloop="0"
                                data-hideslideonmobile="off" data-index="rs-{{ dataIndex }}" data-masterspeed="default"
                                data-param1=""
                                data-param10="" data-param2="" data-param3="" data-param4="" data-param5=""
                                data-param6=""
                                data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off"
                                data-slotamount="default"
                                data-thumb="{{ asset('uploads/' ~sliderItem.image) }}"
                                data-title="Slide Title"
                                data-transition="parallaxvertical">
                                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10"
                                     data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina=""
                                     src="{{ asset('uploads/' ~sliderItem.image) }}">
                                {% for sli in sliderItem.sliderItemLanguages %}
                                    {% if sli.language.name == app.session.get('_locale','Ro') %}

                                        <div class="tp-caption"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingtop="[0,0,0,0]"
                                             data-responsive_offset="on"
                                             data-type="text"
                                             data-height="none"
                                             data-width="['650','650','550','420']"
                                             data-whitespace="normal"
                                             data-hoffset="['15','15','15','15']"
                                             data-voffset="['-90','-100','-100','-85']"
                                                {% set position = sliderItem.id % 2 != 0 ? "['right','right','right','right']" : "['left','left','left','left']" %}
                                             data-x="{{ position }}"
                                             data-y="['middle','middle','middle','middle']"
                                             data-textalign="['top','top','top','top']"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                             style="z-index: 7; white-space: nowrap; text-transform: left;">
                                            <h2>{{ sli.titlu }}</h2>
                                        </div>

                                        <div class="tp-caption"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingtop="[0,0,0,0]"
                                             data-responsive_offset="on"
                                             data-type="text"
                                             data-height="none"
                                             data-width="['550','550','550','420']"
                                             data-whitespace="normal"
                                             data-hoffset="['15','15','15','15']"
                                             data-voffset="['50','35','25','10']"
                                             data-x="{{ position }}"
                                             data-y="['middle','middle','middle','middle']"
                                             data-textalign="['top','top','top','top']"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                             style="z-index: 7; white-space: nowrap;text-transform:left;">
                                            <div class="text">{{ sli.text }}
                                            </div>
                                        </div>
                                        {% for slotItem in slot_service.getSlotItem('SlotContent') %}
                                            {% if slotItem.language.name== app.session.get('_locale','Ro') %}
                                        <div class="tp-caption tp-resizeme"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingtop="[0,0,0,0]"
                                             data-responsive_offset="on"
                                             data-type="text"
                                             data-height="none"
                                             data-width="['550','550','550','420']"
                                             data-whitespace="normal"
                                             data-hoffset="['15','15','15','15']"
                                             data-voffset="['145','130','130','110']"
                                             data-x="{{ position }}"
                                             data-y="['middle','middle','middle','middle']"
                                             data-textalign="['top','top','top','top']"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                             style="z-index: 7; white-space: nowrap;text-transform:left;">
                                            <a href="{{ sliderItem.url }}"
                                               class="theme-btn btn-style-one">{{ sli.buttonName }}</a> &ensp; <a
                                                    href="{{ path('contactPage') }}"
                                                    class="theme-btn btn-style-two">{{ slotItem.description| raw }}</a>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <!--End Main Slider-->
    {% endblock %}
{% endblock %}