{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <head>

        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

        <script>tinymce.init({selector: "textarea.tinymce-enabled",

                plugins: 'code'

                });</script>
    </head>


{% endblock %}

